footer {
    width: 100%;
    position: absolute;
    bottom: 0;

    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(rgba(224, 157, 255, 0.8),rgb(134, 33, 216));
    font-size: 16px;
    

   
}

footer img {
    padding:10px;
    width: 150px;
    transition: transform 0.4s ease;
}

footer img:hover {
    transform: scale(1.1);
}