body {
    padding-top: 2cm;
}

.navbar {
    background: rgb(134, 33, 216);
    height: 1.8cm;
    /* Grosor de 2 centímetros */
    width: 100%;
    /* Abarca todo el ancho de la ventana */
    position: fixed;
    /* Fija la posición en la parte superior */
    top: 0;
    /* Alinea en la parte superior */
    left: 0;
    /* Asegura que esté alineado a la izquierda */
    /*display: flex;  Usa flexbox para alinear los elementos del nav */
    justify-content: center;
    /* Alinea los elementos del nav al centro horizontalmente */
    align-items: center;
    /* Alinea los elementos del nav al centro verticalmente */

}

.playcode {

    transition: transform 0.4s ease;
}

.playcode:hover {
    transform: scale(1.1);
}

#panel {
    transition: transform 0.4s ease;
    margin-left: 3%;
    float: left;

}

#panel:hover {
    transform: scale(1.1);
}

ul {
    margin-top: 20px;
}

.navbar nav ul li {
    display: inline;
    margin: 0 10px;
}


.navbar nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.panel2 {
    transition: transform 0.4s ease;
    margin-left: 3%;
}

.panel2:hover {
    transform: scale(1.1);
}

.cerrarSesion {
    transition: transform 0.4s ease;
    margin-right: 3%;
    float: right;
    background-color: rgb(60, 3, 77);
    box-shadow: 0px 3px 8px black;
    color: white;
    margin-top: -10px;
}

.cerrarSesion:hover {
    transform: scale(1.1);
}

.profile-container {
    position: relative;
}

.profile-dropdown {
    position: absolute;
    top: 135%;
    left: 0;
    width: 215px;
    display: none;
    background-color: rgb(134, 33, 216);
    padding: 5px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    border: 1px solid;
    box-shadow: 0px 0px 30px;
}

.profile-dropdown li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.profile-dropdown li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Color de fondo al pasar el cursor */
    border-radius: 5px;
    /* Borde redondeado opcional */
}