body {
    padding-top: 2cm;
}
.navbar {
    background: rgb(134, 33, 216);
    height: 2cm; /* Grosor de 2 centímetros */
    width: 100vw; /* Abarca todo el ancho de la ventana */
    position: fixed; /* Fija la posición en la parte superior */
    top: 0; /* Alinea en la parte superior */
    left: 0; /* Asegura que esté alineado a la izquierda */
    display: flex; /* Usa flexbox para alinear los elementos del nav */
    justify-content: center; /* Alinea los elementos del nav al centro horizontalmente */
    align-items: center; /* Alinea los elementos del nav al centro verticalmente */
}

.navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    display: inline;
    margin: 0 10px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
}
